body{
    background-color:beige;
}
.container{
    display: grid;
    /* grid-template-columns: auto auto auto; */
    grid-template-columns:repeat(12,1fr);

    height:300px;
    /* width: 900px; */
    /* gap: 10px; */
    border: 2px solid red;
}
.row1,.row2,.row3{
    border: 1px solid black;
}
.row1{
    /* grid-column-start: 3;
    grid-column-end: 8;
    grid-row-start: 1;
    grid-row-end: 2; */
    grid-column: 3/7;
    grid-row:1/2;
    background-color: chartreuse;
}
.row1col1,.row1col2,.row1col3,.row1col4{
    height: 70px;
    border:1px solid red;
    width: 100px;
}
.row1col1{
grid-column: 1/2;
grid-row: 1/2;
}
.row1col2{
grid-column: 2/3;
grid-row: 1/2;
}
.row2col1{
    grid-column: 1/2;
    grid-row: 2/3;
}
.row2col2{
    grid-column: 2/3;
    grid-row: 2/3;
}


