/* div{
    background-color: aqua;
} */

/* #container{
    background-color: cadetblue;
    height: 400px;
    width: 400px;
    margin-top: 100px;
    margin-left: 100px;
    padding-top: 100px;  
    /* padding box ke anadar change karega  */
    /* padding-left: 100px;
    border: 2px solid red; */
    /* box-sizing: content-box; */
    /* box-sizing: border-box; */

/* } */

/* .child{
    background-color: brown;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 10px dotted yellow;




/* } */ 

/* p is decendant */

/* div >p{
    background-color: aqua;
} */

/* div+p{
    background-color: aqua; 
    div+p will change the sibling of div which is p here that is after the div
} */


/* .container{
    background-color: aqua;

}

#cont{
    background-color: cadetblue;
} */



.container{
    height: 1000px;
    width: 1000px;
    background-color:lightgreen;
    border: 2px solid rgb(220, 193, 193);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items:center;
    


}

.child1,.child2,.child3,.child4{
    border: 2px solid;
    height: 230px;
    width: 300px;
    /* background-color: red; */
    /* margin-top: 20px;
    margin-left: 20px; */
    /* display is used to display them in way */


}
.child1{
    display: flex;
    gap: 4px;
    flex-basis: 50%;

}
.child11,.child12,.child13,.child14{
    border: 2px dotted red;
    gap: 2px;
}
.child11{
     background-color: aliceblue;
     flex-basis: 30%;
     


}
.child12{
    background-color: royalblue;

}
.child13{
    background-color: brown;
}
.child14{
    background-color: aquamarine;
}




/* .child1{
    background-color: aqua;
}
.child2{
    
   
    background-color: palevioletred;

}
.child3{
  
    background-color: blanchedalmond;
} */